.nav-wrapper {
    background-color: #008000;
}

.card-content {
    background-color: rgb(58, 72, 129);
    height: 200px;
}

.card-reveal {
    background-color: rgb(58, 72, 129) !important;
}

.card {
    background-color: rgb(151, 180, 44) !important;
}

.grey-text {
    color: orange
}

.card {
    height: 250px
}
